<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index presentacion GITUHUB</title>
</head>
<body>

	<p>Hola mi nombres es Richar Jhoseph Castañeda Cañon
  <p>Estoy matruculado en la Cede de Jose Acevedo y Gomez
  <p>Estoy en la carrera de Ingenierria de Sistemas
  <P> Hago parte del grupo 60
  
  </body>
	</html>
	
	
